.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.spaNavigationBar {
    background-color: #1a2b51;
    border: none;
    width: 155px;
    z-index: 11;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;

    .navbar-brand {
        width: 100%;
        height: 3.5em;
        background-color: lightgray;

        img {
            display: inline-block;
            width: 65px;
        }
    }

    ul {
        width: 100%;
        margin: 0;
    }


    .dashboardListAction {
        width: 100% !important;
        border: none;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        cursor: pointer;
        color: #ff9c00;
        font-size: 1.3em;
        overflow: hidden;
        white-space: nowrap;

        i {
            float: left;
            height: 100%;
            margin-top: .15em;
        }

        span {
            z-index: auto;
        }
    }

    .dashboardListAction:hover {
        color: white;
        background-color: #304062;
    }

    @media screen and (max-width: 767px) {
        ul {
            margin-top: 4.5em;
        }
    }
}
